Com.Efrata.Service.Core.Lib/bin
Com.Efrata.Service.Core.Lib/obj
Com.Efrata.Service.Core.WebApi/bin
Com.Efrata.Service.Core.WebApi/obj
Com.Efrata.Service.Core.WebApi/appsettings.json
Com.Efrata.Service.Core.WebApi/Properties/launchSettings.json
