Com.Ambassador.Service.Core.Lib/bin
Com.Ambassador.Service.Core.Lib/obj
Com.Ambassador.Service.Core.WebApi/bin
Com.Ambassador.Service.Core.WebApi/obj
Com.Ambassador.Service.Core.WebApi/appsettings.json
Com.Ambassador.Service.Core.WebApi/Properties/launchSettings.json
